*{
    box-sizing:border-box;
    
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
    
}


html > body > .navbar {
    display:block;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    background-color: #fde0dd !important;
    padding: 0;
}

.bg-light{
    --bs-bg-opacity:0
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    text-decoration: none;
    display: inline-block;
    list-style: none;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
}


.main-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width:100%;
    
    
}

.main-container .main-russian {
    padding-bottom: 2rem;
}

.main-article {

    text-align: center;
}

.introduction-parag{
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.8);
    
}

.catcard-container{
    width:100%;
    
}

.card-breed {
    height: 39rem;
    border: 0.1rem;
    border-style: solid;
    border-color: #4292c6;
    color: black;
}


.cat-img{
    height: 20rem;
    width:100%;
    background-size: 70%;
    background-position:center;
    background-repeat: no-repeat;
}

.russianblue-img{
    background-image: url(./card-images/russian-blue-background-img.jpg);;
}

.bengal-img{
    background-image: url(./card-images/bengal-background-img.jpg);
}

.ashera-img{
    background-image: url(./card-images/ashera-background-img.jpg);
}

.savannah-img{
    background-image: url(./card-images/savannah-background-img.jpg);
}

.sphynx-img{
    background-image: url(./card-images/sphynx-background-img.jpg);
}

.persian-img{
    background-image: url(./card-images/persian-background-img.jpg);
}

.footer-container{
    display:block;
    height:2rem;
    width:100%;
    padding: 0.5rem;
    margin: 0.1rem;
    background-color: aqua;
}

